<div class="registration-container">
    <div class="logo-container">
        <img alt="Università di Camerino Logo" class="logo" src="assets/images/logos/unicam-complete.svg"/>
    </div>
    <div class="registration-box">
        <h2><b>Registration</b></h2>

        <!-- Messaggio di errore -->
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

        <form (ngSubmit)="onSubmit()" class="registration-form">
            <div class="input-group">
                <label for="username">Username</label>
                <input [(ngModel)]="username" id="username" name="username" placeholder="Insert your username"
                       required type="text"/>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input [(ngModel)]="password" id="password" name="password" placeholder="Insert your password"
                       required type="password"/>
            </div>
            <button class="registration-btn" type="submit">Register</button>
        </form>

        <p class="register-link">
            After a successful registration, you will be automatically redirected to the login page.
        </p>
    </div>
</div>

